.site-wrap {
    .social-share {
        position: fixed;
        left: 0;
        z-index: 1;
        @include breakpoint(xs) {
            position: relative;
            margin:20px 0;
        }
        > * {
            color: #fff;
            display: block;
            line-height: 43px;
            font-size: 20px;
            text-align: center;
            text-decoration: none !important;
            width: 40px;
            height: 40px;
            @include transition(background .3s linear);
            @include breakpoint(xs) {
                display:inline-block;
            }
            &.facebook {
                background:#3b5998;
                &:hover, &:focus {
                    color:#fff;
                    background:darken(#3b5998,10%);
                }
            }
            &.twitter {
                background:#1da1f2;
                &:hover, &:focus {
                    color:#fff;
                    background:darken(#1da1f2,10%);
                }
            }
            &.email {
                background:#323a45;
                &:hover, &:focus {
                    color:#fff;
                    background:darken(#323a45,10%);
                }
            }
            &.copy-link {
                background:$dk-gray;
                cursor: pointer;
                position: relative;
                &:hover, &:focus {
                    color:#fff;
                    background:darken($dk-gray,10%);
                    &::before {
                        background: $dk-gray;
                        bottom: 0;
                        color: #fff;
                        content: "Copy Link";
                        font-size: 16px;
                        line-height: 18px;
                        left: calc(100% + 10px);
                        padding: 10px;
                        position: absolute;
                        white-space: nowrap;
                        @include breakpoint(xs) {
                            left: 0;
                            bottom:calc(100% + 10px);
                        }
                    }
                }
                &.success {
                    &:hover, &:focus {
                        &::before {
                            content:"Copied!";
                            background:$teal;
                        }
                    }
                }
            }
        }
    }
}