.site-wrap {
    .btn {
        border-radius:0;
        border:0!important;
        box-shadow:none!important;
        outline:none!important;
        font-family: $font-sans;
        font-size:18px;
        font-weight: 300;
        letter-spacing: 1px;
        line-height:20px;
        padding:10px 40px;
        position: relative;
        text-align: left;
        text-decoration:none!important;
        text-transform: uppercase;
        z-index: 1;
        @include transition(background .3s linear, color .3s linear);
        &.small {
            font-size:16px;
            padding:10px 20px;
        }
        &.clear {
            color:#fff!important;
            border:1px solid #fff; 
            background:rgba(255,255,255,.1);
            &:hover {
                background: rgba(255,255,255,.2);
                color:#fff;
            }
        }
        &.blue {
            background:$blue;
            color:#fff!important;
            &::after {
                content: "";
                background: darken($blue, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($blue, 10%);
                &::after {
                    width: 100%;
                }
            }

        }
        &.dkblue {
            background:$dk-blue;
            color:#fff!important;
            &::after {
                content: "";
                background: darken($dk-blue, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($dk-blue, 10%);
                &::after {
                    width: 100%;
                }
            }

        }
        &.teal {
            background:$teal;
            color:#fff!important;
            &::after {
                content: "";
                background: darken($teal, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($teal, 10%);
                &::after {
                    width: 100%;
                }
            }

        }
        &.red {
            background:$red;
            color:#fff!important;
            &::after {
                content: "";
                background: darken($red, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($red, 10%);
                &::after {
                    width: 100%;
                }
            }
        }
        &.gray {
            background:$gray;
            color:#fff!important;
            &::after {
                content: "";
                background:$dk-gray;
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: $md-gray;
                &::after {
                    width: 100%;
                }
            }
        }
        &.black {
            background:#000;
            color:#fff!important;
            &:hover, &:focus {
                background: $md-gray;
            }
        }
        &.link {
            background:transparent;
            color: $teal;
            font-weight: 400;
            margin: 0;
            padding: 10px 0 0 0;
            text-align: left;
            &:hover, &:focus {
                color: darken($teal, 10%);
            }
        }
        &.underline {
            background:none;
            padding:0;
            position: relative;
            text-transform:none;
            font-weight: 400;
            color:$blue;
            &::before {
                background:darken($blue,20%);
                content: "";
                position: absolute;
                top: calc(100% + 3px);
                width:0;
                height: 3px;
                left:0;
                z-index: 2;
                @include transition(width .3s cubic-bezier(0.0, 0.0, 0.2, 1));
            }
            &::after {
                background:$blue;
                content: "";
                position: absolute;
                top: calc(100% + 3px);
                width:100%;
                height: 3px;
                left:0;
            }
            &:hover, &:focus {
                &::before {
                    width:100%;
                }
            }
            &.red {
                color:$red;
                &::before {
                    background:darken($red,15%);
                }
                &::after {
                    background:$red;
                }
                &:hover, &:focus {
                    background:none;
                    color:darken($red,15%);
                }
            }
        }
    }
    .more-link {
        display: block;
        margin: 20px 0;
        a {
            background:$secondary;
            border-radius:0;
            border:0!important;
            box-shadow:none!important;
            color:#fff!important;
            outline:none!important;
            font-weight: 700;
            font-size:18px;
            letter-spacing: 1px;
            line-height:40px;
            padding:10px 25px;
            position: relative;
            text-align: left;
            text-decoration:none!important;
            text-transform: uppercase;
            z-index: 1;
            @include transition(background .3s linear, color .3s linear);
            &::after {
                content: "";
                background: darken($secondary, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($secondary, 10%);
                &::after {
                    width: 100%;
                }
            }
        }
    }
}