.site-wrap {
    .btn {
        border-radius:4px;
        border:0;
        box-shadow:none!important;
        outline:none!important;
        font-family: $font-sans;
        font-size:16px;
        font-weight: 600;
        line-height:20px;
        padding:12px 40px;
        position: relative;
        text-align: center;
        text-decoration:none!important;
        z-index: 1;
        @include transition(background .3s linear, color .3s linear);
        &.small {
            font-size:14px;
            line-height: 18px;
            padding:10px 25px;
        }
        &.clear {
            color:#fff!important;
            border:1px solid #fff; 
            background:rgba(255,255,255,.1);
            &:hover {
                background: rgba(255,255,255,.2);
                color:#fff;
            }
        }
        &.blue {
            background:$blue;
            color:#fff;
            &:hover, &:focus {
                background: darken($blue, 10%);
                &::after {
                    width: 100%;
                }
            }
            &.outline {
                border-color: $blue;
                color: $blue;
                &:hover, &:focus {
                    background: $blue;
                    color: #fff;
                }
            }
        }
        &.gold {
            background: $gold;
            color:$dk-blue;
            &:hover, &:focus {
                background: darken($gold, 10%);
                &::after {
                    width: 100%;
                }
            }
            &.outline {
                border-color: $gold;
                color: $gold;
                &:hover, &:focus {
                    background: $gold;
                    color: #fff;
                }
            }
        }
        &.dk-blue {
            background:$dk-blue;
            color:$gold;
            &:hover, &:focus {
                background: darken($dk-blue, 10%);
                &::after {
                    width: 100%;
                }
            }
            &.outline {
                border-color: $dk-blue;
                color: $dk-blue;
                &:hover, &:focus {
                    background: $dk-blue;
                    color: $gold;
                }
            }
        }
        &.teal {
            background:$teal;
            color:#fff;
            &:hover, &:focus {
                background: darken($teal, 10%);
                &::after {
                    width: 100%;
                }
            }
            &.outline {
                border-color: $teal;
                color: $teal;
                &:hover, &:focus {
                    background: $teal;
                    color: #fff;
                }
            }
        }
        &.red {
            background:$red;
            color:#fff;
            &:hover, &:focus {
                background: darken($red, 10%);
                &::after {
                    width: 100%;
                }
            }
        }
        &.gray {
            background:$gray;
            color:#fff;
            &:hover, &:focus {
                background: $md-gray;
                &::after {
                    width: 100%;
                }
            }
        }
        &.black {
            background:#000;
            color:#fff;
            &:hover, &:focus {
                background: $md-gray;
            }
        }
        &.outline {
            background: none;
            border: 2px solid;
        }
        &.link {
            background:transparent;
            color: $teal;
            font-weight: 400;
            margin: 0;
            padding: 10px 0 0 0;
            text-align: left;
            &:hover, &:focus {
                color: darken($teal, 10%);
            }
        }
    }
    .more-link {
        display: block;
        margin: 20px 0;
        a {
            background:$secondary;
            border-radius:0;
            border:0!important;
            box-shadow:none!important;
            color:#fff!important;
            outline:none!important;
            font-weight: 700;
            font-size:18px;
            letter-spacing: 1px;
            line-height:40px;
            padding:10px 25px;
            position: relative;
            text-align: left;
            text-decoration:none!important;
            text-transform: uppercase;
            z-index: 1;
            @include transition(background .3s linear, color .3s linear);
            &::after {
                content: "";
                background: darken($secondary, 25%);
                position: absolute;
                height: 3px;
                width:0;
                left: 0;
                bottom: 0;
                @include transition(width .3s $cubic);
            }
            &:hover, &:focus {
                background: darken($secondary, 10%);
                &::after {
                    width: 100%;
                }
            }
        }
    }
}