.footer {
    background: $dk-blue;
    color: #fff;
    padding:75px 0;
    p {
        color: #fff;
        font-size:16px;
        line-height: 24px;
        a {
            color: $gold;
            &:hover, &:focus {
                color: #fff;
            }
        }
    }
    .social {
        a {
            color: #fff;
            display: inline-block;
            font-size: 21px;
            &:hover, &:focus {
                color:$teal;
            }
            + a {
                margin-left: 20px;
            }
        }
    }
}