.header {
    padding:20px 0;
    .nav-toggle {
        display: block;
        float: right;
        margin-top: 20px;
        .nav-open & {
            margin-bottom: 10px;
        }
        &:hover {
            span {
                &:nth-of-type(1) {
                    background:$teal;
                }
                &:nth-of-type(2) {
                    background:$teal;
                    margin-left: 0;
                }
                &:nth-of-type(3) {
                    background: $teal;
                }
            }
        }
        span {
            background: $dk-blue;
            border-radius: 3px;
            display: block;
            width: 25px;
            height: 4px;
            margin-bottom: 3px;
            transform-origin: center;
            @include transition(margin .3s $cubic, transform .3s $cubic, background .3s linear);
            &:nth-of-type(2) {
                margin-left: -3px;
            }        
            .nav-open & {
                &:nth-of-type(1) {
                    background:$teal;
                    margin-bottom: -3px;
                    transform: rotate(45deg);
                }
                &:nth-of-type(2) {
                    background:$teal;
                    margin-left: 0;
                    transform: rotate(-45deg);
                }
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }
    .menu {
        max-height:0;
        overflow: hidden;
        position: absolute;
        right: 15px;
        top: 100%;
        width: auto;
        z-index: 9;
        @include transition(max-height .3s $cubic);
        @include breakpoint(sm-max) {
            width:50vw;
        }
        .nav-open & {
            max-height:800px;
            @include transition(max-height 1s $cubic);
        }
        nav {
            background: $dk-blue;
            padding:20px 30px 30px 30px;
            ul:not(.contextual-links) {
                margin:0;
                padding:0;
                list-style-type: none;
                text-align: right;
                @include breakpoint(xs){
                    text-align:left;
                }
                li {
                    display:block;
                    + li {
                        margin-top:15px;
                    }
                    a:not(.btn) {
                        color:#fff;
                        font-size: 18px;
                        position: relative;
                        text-decoration:none;
                        @include underline;
                        @include breakpoint(sm) {
                            font-size:14px
                        }
                        @include breakpoint(xs) {
                            color:#fff;
                        }
                        &:hover, &:focus, &.is-active {
                            color:$teal;
                        }
                        &::before {
                            background:$teal;
                        }
                        &::after {
                            background:#fff;
                        }
                    }
                }
            }
        }
    }    
}