.header {
    padding:20px 0;
    .nav-toggle {
        display: none;
        float: right;
        margin-top: 20px;
        @include breakpoint(sm-max) {
            display: block;    
        }
        .nav-open & {
            margin-bottom: 10px;
        }
        &:hover {
            span {
                &:nth-of-type(1) {
                    background:$teal;
                }
                &:nth-of-type(2) {
                    background:$teal;
                    margin-left: 0;
                }
                &:nth-of-type(3) {
                    background: $teal;
                }
            }
        }
        span {
            background: $dk-blue;
            border-radius: 3px;
            display: block;
            width: 25px;
            height: 4px;
            margin-bottom: 3px;
            transform-origin: center;
            @include transition(margin .3s $cubic, transform .3s $cubic, background .3s linear);
            &:nth-of-type(2) {
                margin-left: -3px;
            }        
            .nav-open & {
                &:nth-of-type(1) {
                    background:$teal;
                    margin-bottom: -3px;
                    transform: rotate(45deg);
                }
                &:nth-of-type(2) {
                    background:$teal;
                    margin-left: 0;
                    transform: rotate(-45deg);
                }
                &:nth-of-type(3) {
                    display: none;
                }
            }
        }
    }
    .menu {
        text-align: right;
        @include breakpoint(sm-max) {
            max-height:0;
            overflow: hidden;
            position: absolute;
            right: 15px;
            text-align: left;
            top: 100%;
            width:80vw;
            z-index: 9;
            @include transition(max-height .3s $cubic)
        }
        .nav-open & {
            @include breakpoint(sm-max) {
                max-height:800px;
                @include transition(max-height 1s $cubic);
            }
        }
        nav {            
            @include breakpoint(sm-max) {
                background: $dk-blue;
                padding:20px 30px 30px 30px;
            }
            ul:not(.contextual-links) {    
                margin: 10px 0 0 0;
                @include breakpoint(sm-max) {
                    margin:0;
                    padding:0;
                    list-style-type: none;
                    text-align:left;
                }
                li {
                    @include breakpoint(sm-max) {
                        display:block;
                        + li {
                            margin-top:15px;
                        }
                    }
                    &.level-1{
                        display: inline-block;
                        margin: 0 0 0 15px;
                    }
                    a {
                        &.btn {
                            border-radius: 30px;
                            font-size: 14px;
                            line-height: 21px;
                            padding: 5px 25px;
                            vertical-align: middle;
                        }
                        &:not(.btn) {
                            position: relative;
                            @include underline;
                            @include breakpoint(sm) {
                                font-size:14px
                            }
                            @include breakpoint(xs) {
                                color:#fff;
                            }
                            &:focus, &.is-active {
                                color:$teal;
                            }
                            &::before {
                                background:$dk-blue;
                            }
                            &::after {
                                display: none
                            }
                            @include breakpoint(sm-max) {
                                color:#fff;
                                font-size: 18px;
                                text-decoration:none;
                            }
                        }
                    }
                }
            }
        }
    }    
}