.site-wrap {    
    .flush {
        margin:0!important;
    } 
    .unstyled {
        list-style-type:none;
        padding:0;    
    }
    .row {
        &.no-gutter {
            margin:0;
            > div {
                padding:0;
            }
        }
    }
    .breadcrumb {
        background:none;
        padding:0;
        color:$gray;
        margin:10px 0 0 0;
        a {
            color:$gray;
            letter-spacing:1px;
            text-decoration: none;
            text-transform:uppercase;
            &:hover {
                color:$blue;
            }
        }
        span {
            color:$secondary;
            letter-spacing:1px;
            text-transform:uppercase;
            position: relative;
            &::before {
                content: "";
                height: 3px;
                background: $secondary;
                width: 100%;
                bottom: calc(100% + 9px);
                left: 0;
                position: absolute;
            }
        }
    }
    div[id*="local-tasks"] {
        ul {
            padding:0;
            list-style-type:none;
            border-bottom:2px solid $lt-gray;
            li {
                display:inline-block;
                background:$lt-gray;
                padding:10px;
                margin: 0;
                @include transition(background .3s linear);
                &:hover, &:focus {
                    background:$gray;
                    a {
                        color:#fff;
                    }
                }
                a {
                    color:$dk-gray;
                }
            }
        }
    }
    .pager {
        text-align:left;
        margin:30px 15px;
        clear: both;
        ul {
            padding:0;
            li {
                a {
                    border-radius:0;
                    padding:10px 5px;
                    background:transparent;
                    border: none;
                    border-bottom: 2px solid transparent;
                    color:$gray;
                    text-decoration:none;
                    font-size:21px;
                    @include transition(color .3s linear, border .3s linear);
                }
                &.is-active, &:hover {
                    a {
                        background: transparent;
                        border-bottom:2px solid $red;
                        color:$red;
                    }
                }
            }
        }
    }
}