.hero {
    position: relative;
    .img {
        img {
            width: 100%;
        }
    }
    .blurb {
        bottom: 20px;
        color: $primary;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        h1 {
            color: $primary;
            font-size: 45px;
            font-weight: 700;
            line-height: 58px;
            @include breakpoint(sm-max) {
                font-size: 35px;
                font-weight: 500;
                line-height: 45px;
                text-align: center;
            }
        }
        p {
            font-display: 16px;
            line-height: 21px;
            text-align: center;
        }
        a {
            @include breakpoint(sm-max) {
                display:block;
                margin-bottom: 10px;
            }
            + a {
                margin-left: 10px;
                @include breakpoint(sm-max) {
                    margin-left: 0;
                }
            }
        }
    }
}