.slick {
    .slick-arrow {
        position:absolute;
        background:rgba(#fff,.4);
        height:70px;
        width:40px;
        z-index:9;
        @include transition(background .3s linear, color .3s linear);
        @include breakpoint(md) {
            width:30px;
        }
		@include breakpoint(xs) {
            width:30px;
        }
        &::before {
            font-family: 'icomoon' !important;
            color:#fff;
            font-size:30px;
            opacity:1;
            @include breakpoint(md) {
                font-size:20px;
            }
			@include breakpoint(xs) {
                font-size:20px;
            }
        }
        &.slick-prev {
            left:0;
            &::before {
                content: "\e900";
            }
        }
        &.slick-next {
            right:0;
            &::before {
                content: "\e901";
            }
        }
        &:hover {
            background:rgba(#fff,.8);
            color:$gray;
            &::before {
                opacity:1;
            }
        }
    }
    .slick-slide  {
        position:relative;
        img {
            max-width:100%;
            height:auto;
            margin: 0 auto;
            @include breakpoint(xs) {
                width:100%;
            }
        }
    }
}