/*COLORS*/
$lt-gray: #f5f5f5;
$gray: #CAD1D3;
$md-gray: #5b616b;
$dk-gray: #212121;
$blue: #465981;
$dk-blue: #1B2A49;
$teal: #02909E;
$red: #b32525;

$primary: $dk-blue;
$secondary: $blue;
$tertiary: $teal;

/*FONTS*/

$font-lm: 'Lemon/Milk';
$font-sans: 'SF Pro', 'Source Sans Pro', sans-serif;
$font-serif: 'Roboto Slab', serif;


//CSS ANIMATIONS
$cubic: cubic-bezier(0.0, 0.0, 0.2, 1);