.cta-icon {
    padding: 0 25px;
    text-align: center;  
    img {
        margin-bottom: 30px;
        @include breakpoint(sm-max) {
            margin-bottom: 20px;
            width: 150px;
        }
    }
    p {        
        font-size: 16px;
        line-height: 24px;
    }
    a {
        font-weight: 600;
    }
}