.cta {
    display: grid;
    place-items: start stretch;
    justify-content: stretch;
    grid-auto-flow: dense;
    margin-bottom: 50px;
    &.left {
        grid-template-columns: 55% 45%;
        @include breakpoint(sm-max) {
            grid-template-columns: 100%;            
        }
        .blurb {
            padding-left: 30px;
            place-self: center start;
            @include breakpoint(sm-max) {
                padding: 0;
            }
            .inner {
                padding-left: 20px;
                @include breakpoint(sm-max) {
                    border: none;
                    border-top: 5px solid $gold;
                    margin-top: 20px;
                    padding: 20px 0 0 0 ;
                }
                &::before {
                    left: 0;
                }
                + a {
                    padding-left:30px;
                }
            }
        }
    }
    &.right {
        grid-template-columns: 45% 55%;
        @include breakpoint(sm-max) {
            grid-template-columns: 100%;            
        }
        .img {
            grid-column-start: 2;
            @include breakpoint(sm-max) {
                grid-column-start: 1;            
            }
        }
        .blurb {
            padding-right: 30px;
            place-self: center end;
            text-align: right;
            @include breakpoint(sm-max) {
                padding: 0;
                text-align: left;
            }
            .inner {
                padding-right: 20px;
                @include breakpoint(sm-max) {
                    border-top: 5px solid $gold;
                    margin-top: 20px;
                    padding: 20px 0 0 0 ;
                }
                &::before {
                    right: 0;
                }
                + a {
                    padding-right:30px;
                }
            }
        }
    }
    .inner {
        &::before {
            background: $gold;
            content: "";
            position: absolute;
            height: calc(100% - 10px);
            top: 10px;
            width: 5px;
            @include breakpoint(sm-max) {
                display: none;
            }
        }
        p {
            color:$dk-blue;
            font-size: 16px;
            line-height: 24px;
        }
    }
    .img {
        border: 5px solid $gray;
        img {
            width: 100%;
        }
    }
}