.accordions {
    .accordion-item {            
        border-bottom: 2px solid rgba(0,0,0,.1);
        +  .accordion-item {  
            margin-top: 15px;
        }
    }
    h4 {
        cursor: pointer;
        font-size: 21px;
        margin: 0 0 18px 0;
        position: relative;
        &::after {
            content: "+";
            font-size: 32px;
            font-family: $font-sans;
            position: absolute;
            right: 0;
            top: 50%;
            @include translate(0,-50%);
        }
        &.open {
            &::after {
                content: "–";
                font-size: 34px;
                line-height: 32px;
            }
        }
        + div {
            font-size: 16px;
            max-height: 0;
            overflow: hidden;
            @include transition (max-height .3s $cubic);
        }
    }
}