.home-wrap {
    .header {
        position: absolute;
        width: 100%;
        z-index: 9;
        .nav-toggle {
            span {
                background:#fff;
            }
        }
    }
}