.text {
    &.has-bg {
        margin: 30px 0;
        padding: 25px 35px 20px 35px;
        &.outline {
            border:2px solid;
            border-radius: 5px;
        }
        &.white {
            background:#fff;
            &.outline {
                background:none;
                border-color: #fff; 
            }
        }
        &.gray {
            background:$gray;
            &.outline {
                background:none;
                border-color: $gray; 
            }
        }
        &.primary {
            background:$primary;
            &.outline {
                background:none;
                border-color: $primary; 
            }
            &:not(.outline) {
                color:#fff;
                a {
                    color:$teal;
                    &:hover, &:focus {
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
        &.secondary {
            background:$secondary;
            &.outline {
                background:none;
                border-color: $secondary; 
            }
            &:not(.outline) {
                color:#fff;
                a {
                    color:#fff;
                    text-decoration: underline;  
                    &:hover, &:focus {
                        color: #fff;
                        text-decoration-color: $teal;
                    }
                }
            }
        }
        &.tertiary {
            background:$tertiary;
            &.outline {
                background:none;
                border-color: $tertiary; 
            }
            &:not(.outline) {
                color:#fff;
                a {
                    color:#fff;
                    text-decoration: underline;
                    &:hover, &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}