{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="inner equal">
            <i class="{{ content.field_title.0 }}"></i>
            <p>{{ content.field_blurb|raw }}</p>
        </div>
    </div>
{% endblock %} 